In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'foto.jpg',
 'LetturaFileExcel.ipynb',
 'MassimiDiPrecipCavalese.xls',
 'MassimiDiPrecipitazione.xls',
 'massimiDiPrecipitazioneCavalese.xls']

In [4]:
data = pd.ExcelFile('MassimiDiPrecipCavalese.xls')

In [5]:
data

In [6]:
data.sheet_names

['DATI']

In [7]:
df = data.parse('DATI',header=2)
df

    anno  1 ora  3 ore  6 ore  12 ore  24 ore
0   1962   24.0   41.6   42.8    42.8    60.5
1   1963   10.4   15.0   18.8    32.0    35.8
2   1964   28.6   34.8   38.4    40.0    56.4
3   1965   18.8   30.2   31.0    35.2    39.2
4   1966   21.0   22.0   33.0    59.6   102.2
5   1967   11.4   19.0   29.4    34.4    44.0
6   1968   17.8   25.0   28.8    33.6    44.4
7   1969   17.0   17.8   31.6    45.2    47.2
8   1970   18.2   24.6   30.6    52.0    52.2
9   1971   16.0   21.2   23.0    28.0    38.0
10  1972   12.0   23.2   28.8    40.4    60.0
11  1973   25.8   26.2   26.2    27.8    42.0
12  1974    NaN    NaN    NaN     NaN     NaN
13  1975   17.8   23.6   23.6    31.2    54.2
14  1976   25.0   40.2   40.6    42.6    62.2
15  1977   24.2   35.4   45.6    48.6    50.2
16  1978   24.6   26.2   26.4    40.0    58.6
17  1979   10.4   24.0   24.4    48.4    60.2
18  1980   34.4   47.4   47.4    47.4    66.6
19  1981   16.6   24.6   43.2    82.0   110.4
20  1982   20.2   39.6   43.4    46.8    48.6
21  1983   26.6   26.8   30.8    39.4    66.2
22  1984   15.2   28.2   42.4    48.2    49.2
23  1985   14.2   23.6   29.0    34.0    46.8
24  1986   18.4   24.4   30.0    58.6   116.8
25  1987   29.8   34.0   48.6    63.2    78.6
26  1988   28.2   29.0   36.8    39.8    62.2
27  1989   16.2   21.6   35.2    47.8    58.8
28  1990   13.6   28.6   42.2    68.6    79.2
29  1991   22.4   45.0   48.4    48.4    64.4
30  1992   22.6   24.8   39.4    69.4    94.6
31  1993    NaN    NaN    NaN     NaN     NaN
32  1994   33.8   43.4   56.0    70.2   106.6
33  1995   10.2   11.8   22.2    29.0    29.8
34  1996   27.8   28.6   30.8    30.8    39.6
35  1997   43.0   43.4   44.4    44.4    44.8
36  1998   15.4   23.4   39.4    52.0    70.8
37  1999   14.4   22.0   28.2    47.8    51.0
38  2000   21.4   26.4   35.8    41.6    47.2
39  2001   12.6   21.6   37.0    53.2    54.6
40  2002   17.6   21.0   24.2    32.4    55.4

In [9]:
df.columns
df.rename(columns={'anno':'Anno'},inplace=True)
df.set_index("Anno",inplace=True)
df

      1 ora  3 ore  6 ore  12 ore  24 ore
Anno
1962   24.0   41.6   42.8    42.8    60.5
1963   10.4   15.0   18.8    32.0    35.8
1964   28.6   34.8   38.4    40.0    56.4
1965   18.8   30.2   31.0    35.2    39.2
1966   21.0   22.0   33.0    59.6   102.2
1967   11.4   19.0   29.4    34.4    44.0
1968   17.8   25.0   28.8    33.6    44.4
1969   17.0   17.8   31.6    45.2    47.2
1970   18.2   24.6   30.6    52.0    52.2
1971   16.0   21.2   23.0    28.0    38.0
1972   12.0   23.2   28.8    40.4    60.0
1973   25.8   26.2   26.2    27.8    42.0
1974    NaN    NaN    NaN     NaN     NaN
1975   17.8   23.6   23.6    31.2    54.2
1976   25.0   40.2   40.6    42.6    62.2
1977   24.2   35.4   45.6    48.6    50.2
1978   24.6   26.2   26.4    40.0    58.6
1979   10.4   24.0   24.4    48.4    60.2
1980   34.4   47.4   47.4    47.4    66.6
1981   16.6   24.6   43.2    82.0   110.4
1982   20.2   39.6   43.4    46.8    48.6
1983   26.6   26.8   30.8    39.4    66.2
1984   15.2   28.2   42.4    48.2    49.2
1985   14.2   23.6   29.0    34.0    46.8
1986   18.4   24.4   30.0    58.6   116.8
1987   29.8   34.0   48.6    63.2    78.6
1988   28.2   29.0   36.8    39.8    62.2
1989   16.2   21.6   35.2    47.8    58.8
1990   13.6   28.6   42.2    68.6    79.2
1991   22.4   45.0   48.4    48.4    64.4
1992   22.6   24.8   39.4    69.4    94.6
1993    NaN    NaN    NaN     NaN     NaN
1994   33.8   43.4   56.0    70.2   106.6
1995   10.2   11.8   22.2    29.0    29.8
1996   27.8   28.6   30.8    30.8    39.6
1997   43.0   43.4   44.4    44.4    44.8
1998   15.4   23.4   39.4    52.0    70.8
1999   14.4   22.0   28.2    47.8    51.0
2000   21.4   26.4   35.8    41.6    47.2
2001   12.6   21.6   37.0    53.2    54.6
2002   17.6   21.0   24.2    32.4    55.4

In [1]:
ax=df.plot(figsize=(30,15))
ax.ylabel("Precipitation [mm]")
ax

NameError: name 'df' is not defined